@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    @keyframes scroll {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-50%);
        }
    }

    .animate-scroll {
        animation: scroll 30s linear infinite;
    }
}
@keyframes scroll-loop {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.scroll-loop {
    display: flex;
    width: max-content;
    animation: scroll-loop 20s linear infinite;
}